*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}
hero{
    position: relative;
    width:100%;
    height: 100vh;
    background-color: whitesmoke;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:Hhover{
    color: red;
}
.detail{
    margin-left: 8%;
    margin-top: 10%;
}
.detail h1{
    font-size: 30px;
    color:white;
    margin-bottom: 20px;
}
span{
    color: pink;
}
.detail h2{
    color: white;
    line-height: 22px;
    font-size: 20px;
}
.detail a{
    background: white;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px;
    
}
.images{
    width: 45%;
 
    position: absolute;
    bottom: 0;
    right: 100px;

}
.images img{
    height: 80vh;
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom1s,left 1s;}
.girl img{
    border-radius: 20px;
    color: aqua;
}    

.abt{
    margin-left: 30%;
    }
.abt h2{
    font-size: 250%;
    color: white;
}    
.abt p{
    font-size: larger;
    color: white;
    font-family: sans-serif;
}
.gif{
    margin-left: 119%;
    margin-top: 5%;
}
.abtgif{
    display: flex;
    margin-top: 19%;
    margin-left: -10%;
}
.projects{
    color: white;
    margin-left: 40%;
    margin-top: 10%;
}
.projects p{
    margin-top: 5%;
}
